:root {
  --font-family: 'Roboto', sans-serif;
  --gyro--cyan: #2faf97;
  --gyro--dark: #313742;
  --gyro--white: #fff;
  --tooltip-background-color: #e3e6eb;
  --gyro--success: #2fa765;
  --gyro--light: #dee2e6;
  --gyro--warning: #d3a641;
  --gyro--danger: #f75050;
  --gyro--primary: #6fb5fb;
  --elevation-1: 1px 1px 3px rgb(0 0 0 / 24%);
}

*:after,
*:before,
* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: #23262e;
  font-size: 15.7px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  color: var(--bs-body-bg);
  width: 100%;
  position: relative;
}

appbar {
  display: block;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--gyro--dark);
  min-height: 50px;
  color: var(--gyro--light);
}

appbar .appbar-content {
  display: flex;
  min-height: 64px;
  width: 100%;
  padding: 0.3em 3em;
  align-items: center;
}

appbar .appbar-content .appbar-brand {
  margin: 0 1.5em 0 0;
  color: inherit;
  font-size: 23px;
  font-weight: 600;
  text-decoration: none !important;
}

appbar .appbar-content .appbar-ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

appbar .appbar-content .appbar-ul.appbar-ul__start {
  justify-content: flex-start;
  margin-right: auto;
}

appbar .appbar-content .appbar-ul.appbar-ul__fill {
  flex: 1 100%;
}

appbar .appbar-content .appbar-ul.appbar-ul__end {
  justify-content: flex-end;
  margin-left: auto;
}

appbar .appbar-content .appbar-item {
  list-style: none !important;
  margin: 0 4px;
}

appbar .appbar-content .appbar-item .appbar-link {
  text-decoration: none !important;
  border-radius: 3px;
  color: var(--gyro--light);
  font-weight: 400;
  min-height: 36px;
  display: flex;
  align-items: center;
  padding: 0 11px;
  transition: color .3s ease, background-color .2s ease-in-out;
  font-size: 15.5px;
}

appbar .appbar-content .appbar-item .appbar-link:hover,
appbar .appbar-content .appbar-item .appbar-link:focus {
  color: var(--gyro--light);
}


/* misc */
.gyro-dark {
  background-color: var(--gyro--dark) !important;
}

.ripple-effect {
  position: relative;
  overflow: hidden;
}

.ripple-effect.ripple-dark .ripple {
  background-color: rgba(0, 0, 0, 0.16);
}

.ripple {
  background-color: rgba(255, 255, 255, 0.16);
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  animation: ripple 0.3s ease-out;
}

@keyframes ripple {
   from {
       transform: scale(0);
   }
   to {
       transform: scale(1);
   }
}

.elevation-0 {
  box-shadow: none !important;
}

.elevation-1 {
  box-shadow: var(--elevation-1) !important;
}

.cyan {
  background-color: var(--gyro-cyan);
}

.primary {
  background-color: var(--gyro--primary);
}

.danger {
  background-color: var(--gyro--danger);
}

.success {
  background-color: var(--gyro--success);
}

.warning {
  background-color: var(--gyro--warning);
}

.dark {
  background-color: var(--gyro--dark);
}
/* buttons */
.button {
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 4.3px;
  background-color: var(--gyro--light);
  color: var(--gyro--dark);
  min-height: 35px;
  font-family: var(--font-family);
  padding: 3px 12px;
  font-size: 16px;
  cursor: pointer;
  width: max-content;
  text-decoration: none;
  margin: 0.2rem;
  transition: all .2s ease-out;
  align-items: center;
  justify-content: center;
  border: none;
  display: inline-flex;
  user-select: none;
  outline: none !important;
}

.button.outlined {
  background-color: transparent;
  color: #ccc;
  border: 1px solid var(--gyro--light);
}

.button.outlined:hover,
.button.outlined:focus {
  color: #fff;
  border-color: var(--gyro--white);
}




/* Components */
.tab-bar {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #6e7279;
  position: relative;
}

.tab-bar.tab-bar-pill .tab-bar-indicator {
  top: 50%;
  height: auto;
  border-radius: 4px;
  background-color: #373a44;
  min-height: 35px;
  transform: translateY(-50%);
}


.tab-bar .tab-bar-item {
  list-style: none;
  display: block;
  position: relative;
  min-height: 48px;
  z-index: 25;
}

.tab-bar .tab-bar-item .tab-bar-link {
  color: var(--gyro--light);
  text-decoration: none;
  cursor: pointer;
  min-height: 48px;
  z-index: 25;
  position: relative;
  user-select: none;
  padding: 0.2rem 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-bar .tab-bar-item .tab-bar-link:hover,
.tab-bar .tab-bar-item .tab-bar-link:focus {
  color: var(--gyro--white);
}

.tab-bar .tab-bar-indicator {
  height: 1.5px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  transition: width 459ms cubic-bezier(0.37, 0.85, 0.28, 1), height 459ms cubic-bezier(0.37, 0.85, 0.28, 1), left 522ms ease;
  left: 0;
}

.tab-content .tab-item {
  display: none;
}

.tab-content .tab-item.tab-is-active {
  display: block;
}


.drawer {
  position: fixed;
  top: 0;
  left: -300px;
  width: 295px;
  height: 100%;
  background-color: #1a1d22;
  color: var(--bs-body-bg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: left 350ms cubic-bezier(0.49, 0.59, 0.19, 0.99), width .3s ease-in-out;
  z-index: 100;
}

.drawer.open {
  left: 0;
}

.drawer-content {
  height: 100%;
  overflow-y: auto;
  padding: 0.5em 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

.drawer-content .drawer-header {
  min-height: 60px;
  width: 100%;
  padding: 0.2em 0.9em;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.drawer-content .drawer-header .drawer-title {
  font-weight: 600;
  margin: 0;
  font-size: 23px;
  padding: 0;
}

.drawer-content .drawer-item {
  list-style: none !important;
  width: 100%;
  box-sizing: border-box;
}

.drawer-content .drawer-item .drawer-link {
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  min-height: 48px;
  font-weight: 500;
  display: flex;
  font-size: 15.8px;
  transition: background-color .2s ease, color .1s ease;
  align-items: center;
  color: var(--bs-gray-300);
  padding: 0.3em 0.8em;
}

.drawer-content .drawer-item .drawer-link:hover,
.drawer-content .drawer-item .drawer-link:focus {
  background-color: #23272e;
  color: var(--bs-body-bg);
}

.drawer-content hr {
  border: none;
  background-color: #343840;
  height: 1px;
  width: 100%;
  margin: 0.5em 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  display: none;
}

.menu {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

.menu .menu-content {
  position: absolute;
  top: 0;
  border-radius: 4px;
  z-index: 75;
  transition: opacity 364ms cubic-bezier(0.36, 1.1, 0.58, 1), transform 239ms cubic-bezier(0.36, 0.77, 0.58, 1);
  transform: scale3d(.9, .9, .9);
  transform-origin: top;
  width: inherit;
  overflow: hidden;
  display: block;
  min-width: 131px;
  box-shadow: 1px 2px 6px rgb(0 0 0 / 24%);
  opacity: 0;
  pointer-events: none;
  box-sizing: border-box;
  height: auto;
  background-color: #31353e;
  padding: 0.4rem 0;
}

.menu.active .menu-content {
  opacity: 1;
  transform: scale3d(1, 1, 1);
  pointer-events: auto;
}

.menu .menu-content .menu-link {
  display: flex;
  text-decoration: none;
  align-items: center;
  min-height: 38px;
  transition: background-color 226ms ease, color 206ms ease;
  color: var(--gyro--light);
  line-height: normal;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 0.2rem 0.9rem;
}

.menu .menu-content .menu-link:hover,
.menu .menu-content .menu-link:focus {
  color: var(--gyro--white);
  background-color: rgb(172 178 185 / 13%);
}

.menu .menu-content[data-menu-position='top'] {
  bottom: 100%;
  top: inherit;
}

.menu .menu-content[data-menu-position='top left'] {
  bottom: 100%;
  top: inherit;
  left: 0;
  transform-origin: bottom left;
}

.menu .menu-content[data-menu-position='top right'] {
  bottom: 100%;
  top: inherit;
  left: inherit;
  right: 0;
  transform-origin: bottom right;
}

.menu .menu-content[data-menu-position='bottom'] {
  top: 100%;
}

.menu .menu-content[data-menu-position='bottom left'] {
  top: 100%;
  left: 0;
  transform-origin: top left;
}

.menu .menu-content[data-menu-position='bottom right'] {
  top: 100%;
  left: inherit;
  right: 0;
  transform-origin: top right;
}

.menu .menu-content[data-menu-position='left'] {
  top: 50%;
  right: 100%;
  left: inherit;
  transform: scale3d(.9, .9, .9) translateY(-50%);
  transform-origin: right;
}

.menu.active .menu-content[data-menu-position='left'] {
  transform: scale3d(1, 1, 1) translateY(-50%);
}

.menu .menu-content[data-menu-position='right'] {
  top: 50%;
  left: 100%;
  transform: scale3d(.9, .9, .9) translateY(-50%);
  transform-origin: left;
}

.menu.active .menu-content[data-menu-position='right'] {
  transform: scale3d(1, 1, 1) translateY(-50%);
}








.tooltip {
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, transform 155ms ease;
  background-color: var(--tooltip-background-color);
  padding: 5px 12px;
  border-radius: 3px;
  font-size: 15px;
  z-index: 100000000;
  display: block;
  box-sizing: border-box;
  box-shadow: 1px 2px 6px rgb(0 0 0 / 24%);
  white-space: normal;
  transform: scale3d(.8, .8, .8);
  max-width: 320px;
  pointer-events: none !important;
  color: #14141a;
  word-break: normal;
}

.tooltip.show {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

.tooltip-arrow::before {
  display: none;
  content: "";
  position: absolute;
  border: 8px solid transparent;
}

.tooltip-arrow.arrow-top:before {
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  border-bottom-color: var(--tooltip-background-color);
}

.tooltip-arrow.arrow-bottom:before {
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border-top-color: var(--tooltip-background-color);
}

.tooltip-arrow.arrow-left:before {
  right: 100%;
  top: 50%;
  margin-top: -8px;
  border-right-color: var(--tooltip-background-color);
}

.tooltip-arrow.arrow-right:before {
  left: 100%;
  top: 50%;
  margin-top: -8px;
  border-left-color: var(--tooltip-background-color);
}

.alert {
  border-radius: 3px;
  padding: 0.3em 0.8em;
  background-color: var(--gyro--light);
  color: #14141a;
  display: flex;
  margin: 0.5em 0;
  align-items: center;
  font-weight: 500;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  min-height: 42px;
}

.alert.primary {
  background-color: var(--gyro--primary);
}

.alert.warning {
  background-color: var(--gyro--warning);
}

.alert.success {
  background-color: var(--gyro--success);
  color: #fff;
}

.alert.danger {
  background-color: var(--gyro--danger);
  color: #fff;
}

.alert.dark {
  background-color: var(--gyro--dark);
  color: #fff;
}

.alert .alert-icon {
  margin: 0 0.4em 0 0;
}

.alert .alert-content {
  display: block;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

.display-flex {
  display: flex !important;
}

.card {
  background-color: var(--gyro--dark);
  color: var(--gyro--light);
  border-radius: 3px;
  margin: 5px;
  box-sizing: border-box;
  padding: 9px;
}

.w-100 {
  width: 100% !important;
}

.flex-gap-1 {
  gap: 0.3rem;
}

.flex-gap-2 {
  gap: 0.6rem;
}

.background-transparent {
  background-color: transparent !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.avatar {
  border-radius: 100%;
}
