@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
   --mui--dark-normal: #1a1f22;
   --mui--text-accent-secondary: rgba(255,255,255,.7);
   --mui--text-dark-secondary: rgba(0,0,0,.54);
   --mui--tooltip-background-color: #2e343e;
   --mui--dark: #1e2328;
   --mui--text-white: #fff;
   --mui--warning: #efa012;
   --mui--primary: #2c58f9;
   --mui-danger: #f55a4e;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #e7ebf0;
  font-size: 15.7px;
}

.mui-appbar {
  padding: 0 4em;
}

.mui-appbar .mui-appbar__content {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  min-height: 64px;
}

.mui-appbar .mui-appbar__brand {
  margin: 0 1.6em 0 0;
  font-size: 25px;
}

.mui-appbar .mui-appbar__content .mui-appbar__section {
  display: flex;
  align-items: center;
}

.mui-appbar .mui-appbar__content .mui-appbar__section.appbar-section__end {
  justify-content: flex-end;
  margin-left: auto;
}

.mui-appbar .mui-appbar__content .mui-appbar__item {
  list-style: none !important;
  margin: 0 3px;
  position: relative;
}

.mui-appbar .mui-appbar__content .mui-appbar__item .mui-appbar__link {
   color: var(--mui--text-accent-secondary);
   text-decoration: none !important;
   transition: color .1s ease-in-out, background-color .2s ease-in-out;
   border-radius: 3px;
   padding: 10px 15px;
   position: relative;
   font-size: 15.7px;
}

.mui-appbar .mui-appbar__content .mui-appbar__item .mui-appbar__link:hover,
.mui-appbar .mui-appbar__content .mui-appbar__item .mui-appbar__link:focus {
   color: rgba(255,255,255);
   background-color: rgb(255 255 255 / 21%);
}

.mui--bg-dark {
  background-color: var(--mui--dark-normal);
}

.mui--block {
  display: block;
}

.mui-tabs__bar {
  position: relative;
  display: flex;
  margin: 1em 0;
  border-bottom: 1px solid rgb(0 0 0 / 8%);
}

.mui-tabs__bar .mui__tab-item {
  border: none !important;
}

.mui-tabs__bar .mui__tab-item a {
  line-height: normal;
  padding: 1.1em 2.5em;
  color: var(--mui--text-dark-secondary);
  transition: all .1s ease-in-out;
  font-weight: 600;
  display: flex;
  cursor: pointer;
  justify-content: center;
  height: inherit;
}

.mui-tabs__bar .mui--is-active a {
  color: inherit !important;
  border: none !important;
}

.mui-tabs__bar .mui__tab-item a:hover,
.mui-tabs__bar .mui__tab-item a:focus {
  color: #2e343e !important;
}

.mui-tabs__bar .animated-border {
   position: absolute;
   bottom: 0;
   height: 2px;
   background-color: #6289f5;
   transition: all 0.2s ease-in-out;
 }

 .card {
   box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 3%);
   background-color: #fff;
   border-radius: 3px;
 }

 .dialog {
   position: fixed;
   z-index: 9999;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0, 0, 0, 0.5);
   opacity: 0;
   pointer-events: none;
   transition: opacity 0.3s ease-in-out;
 }

 .dialog.active {
   opacity: 1;
   pointer-events: auto;
 }

 .dialog .mui__dialog-content {
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   margin: 0 auto;
   padding: 8px 15px;
   width: max-content;
   min-width: 470px;
   box-sizing: border-box;
   background-color: #fff;
   border-radius: 4px;
   opacity: 0;
   transition: opacity 0.3s ease-in-out;
 }

 .dialog.active .mui__dialog-content {
   opacity: 1;
 }

 .dialog .mui__dialog-content .mui__dialog-header {
   padding: 5px 0;
   min-height: 52px;
   font-weight: 600;
   font-size: 21px;
   display: flex;
   align-items: center;
   box-sizing: border-box;
 }

 .dialog .mui__dialog-content .mui__dialog-body {
  box-sizing: border-box;
  padding: 4px 0;
  display: block;
  color: var(--mui--text-dark-secondary);
 }

 .dialog .mui__dialog-content .mui__dialog-footer {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   width: 100%;
   padding: 5px 0;
   box-sizing: border-box;
 }

 body.dialog-active {
   overflow: hidden;
 }

 .tooltip {
   position: absolute;
   opacity: 0;
   transition: opacity 0.2s ease-in-out;
   background-color: var(--mui--tooltip-background-color);
   padding: 5px 12px;
   border-radius: 3px;
   display: block;
   box-sizing: border-box;
   white-space: normal;
   max-width: 320px;
   pointer-events: none !important;
   color: #fff !important;
   word-break: normal;
}

.tooltip.show {
   opacity: 1;
}

.tooltip-arrow::before {
  content: "";
  position: absolute;
  border: 8px solid transparent;
}

.tooltip-arrow.arrow-top:before {
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  border-bottom-color: var(--mui--tooltip-background-color);
}

.tooltip-arrow.arrow-bottom:before {
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border-top-color: var(--mui--tooltip-background-color);
}

.tooltip-arrow.arrow-left:before {
  right: 100%;
  top: 50%;
  margin-top: -8px;
  border-right-color: var(--mui--tooltip-background-color);
}

.tooltip-arrow.arrow-right:before {
  left: 100%;
  top: 50%;
  margin-top: -8px;
  border-left-color: var(--mui--tooltip-background-color);
}

.mui-normal-textfield {
  position: relative;
  width: max-content;
  height: auto;
  border-radius: 4px;
}

.mui-normal-textfield::before {
  content: '';
  background-color: #ddd;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.mui-normal-textfield::after {
  content: '';
  background-color: #1d90eb;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  transition: transform .2s cubic-bezier(0.0, 0, 0.2, 1);
  left: 0;
  transform: scaleX(0);
}

.mui-normal-textfield.mui__textfield-active::after {
  width: 100%;
  transform: scaleX(1);
}

.mui-normal-textfield .mui__basic-input {
  padding: 22px 10px 10px 10px;
  border: none;
  outline: none !important;
  background-color: #f2f5f7;
  border-radius: 4px;
  transition: all .2s ease-in-out;
  box-sizing: border-box;
  font-size: 16px;
}

.mui-normal-textfield .mui__basic-input:hover,
.mui-normal-textfield .mui__basic-input:focus {
  background-color: #fff;
}

.mui-normal-textfield label {
  position: absolute;
  left: 0;
  pointer-events: none !important;
  font-size: 17px;
  transition: all .2s ease-in-out;
  transform: translateY(58%) translateX(10px);
}

.mui-normal-textfield.mui__textfield-active label {
  transform: translateY(5px) translateX(10px);
  font-size: 12px;
}

.mui-btn {
  border-radius: 4px;
}

.mui-btn.mui-btn--primary {
  background-color: #2c58f9;
}

.mui-btn.mui-btn--primary:hover,
.mui-btn.mui-btn--primary:focus {
  background-color: #4268f1;
}

.mui-btn.mui-btn--success {
  background-color: #3ad571;
  color: #000;
}

.mui-btn.mui-btn--success:hover,
.mui-btn.mui-btn--success:focus {
  background-color: #43e97e;
}

.mui-btn.mui-btn--fab {
  line-height: normal;
  display: inline-flex;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}

.mui-ripple.mui--is-animating {
  transition: all .5s ease-in-out !important;
}

.alert {
  background-color: #0f1014;
  padding: 7px 15px;
  margin: 4px;
  font-size: 15px;
  box-sizing: border-box;
  color: var(--mui--text-white);
  border-radius: 4px;
}

.primary {
  background-color: var(--mui--primary);
  color: var(--mui--white);
}

.success {
  background-color: var(--mui--success);
  color: #000;
}

.danger {
  background-color: var(--mui--danger);
  color: var(--mui--white);
}

.warning {
  background-color: var(--mui--warning);
  color: #000;
}

.mui-dropdown .mui-dropdown__menu {
  border-radius: 4px;
  overflow: hidden;
  opacity: 0;
  box-sizing: border-box;
  left: 0;
  transform-origin: top left;
  transform: scale(.8);
  pointer-events: none;
  transition: opacity .2s ease-in-out, transform .3s cubic-bezier(0.18, 0.51, 0.24, 1.1);
  padding: 0;
  display: inherit !important;
}

.mui-dropdown .mui-dropdown__menu.mui--is-open {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.mui-dropdown.mui-dropdown--up .mui-dropdown__menu {
  bottom: 100%;
  top: inherit;
  transform-origin: bottom left;
}

.mui-dropdown.mui-dropdown--up .mui-dropdown__menu.mui-dropdown__menu--right  {
  transform-origin: bottom right;
}

.mui-dropdown .mui-dropdown__menu.mui-dropdown__menu--right {
  transform-origin: top right;
  right: 0;
  left: inherit;
}

.mui-dropdown.mui-dropdown--right .mui-dropdown__menu {
  left: 100%;
  transform-origin: top left;
}

.mui-dropdown.mui-dropdown--right .mui-dropdown__menu.mui-dropdown__menu--bottom {
  transform-origin: bottom left;
}

.mui-dropdown.mui-dropdown--left .mui-dropdown__menu {
  right: 100%;
  left: inherit;
  transform-origin: top right;
}

.mui-dropdown.mui-dropdown--left .mui-dropdown__menu.mui-dropdown__menu--bottom {
  transform-origin: bottom right;
}

 .mui-dropdown .mui-dropdown__menu li a {
  padding: 8px 15px;
  transition: all .2s ease;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
