<!DOCTYPE html>
<html>
<head>
<title>Gyro - Components</title>
 <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
 <link href="/gyro-material/cdn/gyro.css" rel="stylesheet" type="text/css" />
 <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
 <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
 <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
</head>
<style>
.pre-code {
  padding: 12px 2px;
  font-family: monospace;
  border-radius: 4px;
}
</style>
<body>
<nav class="mui-appbar hide-items-md mui--bg-dark">
   <div class="mui-appbar__content">
     <div class="mui-appbar__brand"><a href="#">Branding</a></div>
       <section class="mui-appbar__section">
          <li class="mui-appbar__item">
            <a class="mui-appbar__link" href="#">Link 1</a>
          </li>
          <li class="mui-appbar__item">
            <a class="mui-appbar__link" href="#">Link 2</a>
          </li>
          <li class="mui-appbar__item">
            <a class="mui-appbar__link" href="#">Link 3</a>
          </li>
       </section>
       <section class="mui-appbar__section appbar-section__end">
          <li class="mui-appbar__item mui-dropdown">
            <a class="mui-appbar__link background-transparent" data-mui-toggle="dropdown" href="#"><div class="avatar dark">G</div></a>
            <ul class="mui-dropdown__menu mui-dropdown__menu--right">
              <li><a href="#">Option 1</a></li>
              <li><a href="#">Option 2</a></li>
              <li><a href="#">Option 3</a></li>
              <li><a href="#">Option 4</a></li>
            </ul>
          </li>
       </section>
   </div>
</nav>
<script src="/gyro-material/cdn/gyro.js"></script>
</body>
</html>
